src/portfolio1/node_modules
src/portfolio1/public/build
src/portfolio1/public/hot
src/portfolio1/public/storage
src/portfolio1/storage/*.key
src/portfolio1/vendor
/.env
src/portfolio1/.env
src/portfolio1/.env.backup
src/portfolio1/.env.production
src/portfolio1/.phpunit.result.cache
src/portfolio1/Homestead.json
src/portfolio1/Homestead.yaml
src/portfolio1/auth.json
src/portfolio1/npm-debug.log
src/portfolio1/yarn-error.log
src/portfolio1/.fleet
src/portfolio1/.idea
src/portfolio1/.vscode
src/portfolio1/public/music
docker/db/data
docker/phpmyadmin/sessions