src/Zap-Tunes/node_modules
src/Zap-Tunes/public/build
src/Zap-Tunes/public/hot
src/Zap-Tunes/public/storage
src/Zap-Tunes/storage/*.key
src/Zap-Tunes/vendor
/.env
src/Zap-Tunes/.env
src/Zap-Tunes/.env.backup
src/Zap-Tunes/.env.production
src/Zap-Tunes/.phpunit.result.cache
src/Zap-Tunes/Homestead.json
src/Zap-Tunes/Homestead.yaml
src/Zap-Tunes/auth.json
src/Zap-Tunes/npm-debug.log
src/Zap-Tunes/yarn-error.log
src/Zap-Tunes/.fleet
src/Zap-Tunes/.idea
src/Zap-Tunes/.vscode
src/Zap-Tunes/public/music
docker/db/data
docker/phpmyadmin/sessions